@font-face {
    font-family: "satoshi";
    src: url("assets/Satoshi-Variable.ttf");
}
@font-face {
    font-family: "switzer";
    src: url("assets/Switzer-Variable.ttf");
}



.text-satoshi{
    font-family: "satoshi";
    font-weight: 800;
}

.text-switzer{
    font-family: "switzer";
}